*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;
}
img{
    max-width: 100%;
    height: 20em;
}
h1,h2{
    margin-bottom: 15px;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    margin: 0 10px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.navbar{
    background-color: rgb(91, 151, 230);
    color: white;
    height: 60px;
}
.navbar .logo{
    font-size: x-large;
    font-weight: bold;
    justify-content: start;
    align-self: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
}
.navbar ul li a:hover{
    color: red;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul{
    display: flex;
}

.header{
    background-color: #0a51cc;
    color: white;
    min-height: 350px;
}
.header .container {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img{
    max-width: 400px;
    align-self: center;
    margin-top: 15px;
}
.boxes .container {
    display: flex;
    justify-content: space-between;
}
.box{
    flex: 1;
    background-color: #0d0acc;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    padding: 15px 20px;
}

/*Add responsiveness to the site*/
@media(max-width: 768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
}

@media(max-width:768px){
    .boxes .container{
        flex-direction: column;
        padding-top: 10px;
        text-align: center;
    }
}

/*Another way to add responsiveness to the site*/
/* .boxes .container{
    display: block;
    text-align: center;
} */